<main>
  <header>
    <img class="header-img" src="<%= image_url('PSP-background.jpg')%>"></img>
    <article class="landing-header-content">
    </article>
  </header>
  <section class="login-forn-section">
    <header>
      <div class="session-errors">
        <%= render partial: "error_handling", locals: { errors: @errors } %>
      </div>
      <h3 class="session-header">Login</h3>
    </header>
    <article>
      <%= form_tag :action => :create, local: true do |f| %>
        <div class="field">
          <%= label_tag :email %><br>
          <%= text_field_tag :email %>
        </div>

        <div class="field">
          <%= label_tag :password %><br>
          <%= password_field_tag :password %>
        </div>

        <div class="session-form-button">
          <%= submit_tag 'Login', :class => "form_button" %>
        </div>
      <% end %>
    </article>
  </section>
</main>
