<ul class="review-display-grid">
<<<<<<< HEAD
	<li class="review-display-name"><h3>Reviewer: </h3><span> <%=link_to review.user.username, controller: "users", action: "show", id: review.user.id %> </span></li>
	<li><h3>Rating: </h3><span><%= review.rating %> </span></li>
	<li class="review-display-body"><h3>Body: </h3><span> <%= review.body %></span></li>
=======
	<li class="review-display-name"><h3>Reviewer: </h3><span><%=link_to review.user.username, controller: "users", action: "show", id: review.user.id %></span></li>
	<li><h3>Rating: </h3><span><%= review.rating %></span></li>
	<li class="review-display-body"><h3>Body: </h3><span><%= review.body %></span></li>
>>>>>>> rico
</ul>