Edit Recipe Page
<%= form_with model: @recipe, local: true do |form| %>
  <p>
    <%= form.label :recipe_name %><br>
    <%= form.text_field :recipe_name %>
  </p>
  <p>
    <%= form.label :category %><br>
    <%= form.select :category, ['','App', 'Salad', 'Main', 'Dessert']%>
  </p>
  <p>
    <%= form.label :prep_time %><br>
    <%= form.text_area :prep_time %>
  </p>
  <p>
    <%= form.label :instructions %><br>
    <%= form.text_area :instructions %>
  </p>
  <%= form.hidden_field :user_id, :value => session[:user_id] %>
  <p>
    <%= form.submit %>
  </p>
<% end %>
