<main class="landing-main-container">
  <section>
    <%= render partial: "img_header" %>
    <article class="index-header-content">
      <h2> Pan Skillet & Pot takes a new twist on the typical restaruant experience by crowd sourcing its menu for a unique taste every night </h2>
    </article>
  </section>
  <Section class="menu-container">
    <div class="menu-column">
      <%= render partial: "menu_category_section", locals: {recipes_list: @appetizers, category: "Appetizer"} %>
      <%= render partial: "menu_category_section", locals: {recipes_list: @salads, category: "Salad"} %>
    </div>
    <div class="menu-column">
      <%= render partial: "menu_category_section", locals: {recipes_list: @mains, category: "Entree"} %>
      <%= render partial: "menu_category_section", locals: {recipes_list: @desserts, category: "Dessert"} %>
    </div>
  </section>
</main>
