<div class="container-fluid background" id='recipe_index'>
<h1 class="recipe_spacing"> Recipes </h1>
<div class="outer_border">
<div class="category_list_container">
<div>
  <div class="align-left">
    <%= link_to "Appetizer", appetizers_path, :class => "link_title" %>
  </div>
  <ul class="list-without-bullet">
    <% @recipes.each do |recipe| %>
      <% if recipe.category == 'App'%>
        <li><%= link_to recipe.recipe_name, recipe_path(recipe.id), :class => "recipe_link" %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<div>
  <div class="align-left">
      <%= link_to "Salad", salads_path, :class => "link_title" %>
  </div>
  <ul class="list-without-bullet">
      <% @recipes.each do |recipe| %>
      <% if recipe.category == 'Salad'%>
        <li><%= link_to recipe.recipe_name, recipe_path(recipe.id), :class => "recipe_link" %></li>
      <% end %>
    <% end %>
  </ul>
  </div>
  <div>
    <div class="align-left">
      <%= link_to "Main Courses", main_courses_path, :class => "link_title" %>
    </div>
  <ul class="list-without-bullet">
      <% @recipes.each do |recipe| %>
      <% if recipe.category == 'Main' %>
        <li><%= link_to recipe.recipe_name, recipe_path(recipe.id), :class => "recipe_link" %></li>
      <% end %>
    <% end %>
  </ul>
  </div>
  <div>
    <div class="align-left">
      <%= link_to "Desserts", desserts_path, :class => "link_title" %>
    </div>
  <ul class="list-without-bullet">
    <% @recipes.each do |recipe| %>
      <% if recipe.category == 'Dessert' %>
       <li><%= link_to recipe.recipe_name, recipe_path(recipe.id), :class => "recipe_link" %></li>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>
</div>
