<h1>Ingredient new</h1>
<div class='recipe'>
  <div id='heading'>
    <h1><%= @recipe.recipe_name %></h1>
    <h2><%= @recipe.category %></h2>
  </div>
  <div id='recipe_body'>
    prep time: <%= @recipe.prep_time %> <br>
    instructions: <%= @recipe.instructions %>
  </div>
</div>


<h1>Ingredients</h1>
<ul>
  <% @ingredients.each do |ing| %>
    <li><%= ing.ingredient %></li>
  <% end %>
</ul>

<%= form_for @ingredient, url: {action: "create_ingredients"}, local: true do |form| %>
<% p @ingredient %>
  <p>
    <%= form.label :ingredient %><br>
    <%= form.text_field :ingredient %>
  </p>
  <%= form.hidden_field :recipe_id, :value => @recipe.id %>

  <%= form.submit %>
  <%= link_to "Done", {:controller => "recipes", :action=> "index"}, :method => :get %>
<% end %>