<main>
  <section class="ingredients-container">
    <%= render partial: "img_header" %>
    <article class="ingredient-display">
      <header class="ingredients-recipe-display">
        <h1><%= @recipe.recipe_name %></h1>
        <div><strong>Category:</strong> <%= @recipe.category %></div>
        <div><strong>Prep Time:</strong> <%= @recipe.calculate_prep_time %></div>
      </header>
      <article>
        <h2>Instructions:</h2>
        <p><%= @recipe.instructions %></p>
      </article>
    </article>
  </section>
  <section class="add-ingredients-container">
    <header id="add-ingredients-header" class="add-ingredient-header">
      <h2 class="ingredient-header">Add Ingredient</h2>
      <%= render partial: "error_handling", locals: { errors: @errors } %>
    </header>
    <article class="new-ingredients-article">
      <article class="ingredients-added">
        <h4>Current Ingredients</h4>
        <ul id="ingredients-display-list">
          <% if @ingredients.length > 0 %>
            <% @ingredients.each do |ingredient| %>
              <%= render partial: "ingredient_list_item", locals: {ingredient: ingredient} %>
              </li>
            <% end %>
          <% else %>
            <li id="enter-ingredients"><h4>Enter Ingredients</h4></li>
          <% end %>
        </ul>
      </article>
      <article class="ingredients-form">
        <%= form_for @ingredient, url: {action: "create_ingredients"}, remote: true do |form| %>
          <div class="ingredients-form-label">
            <%= form.label :ingredient %><br>
            <%= form.text_field :ingredient %>
          </div>
          <div>
            <%= form.hidden_field :recipe_id, :value => @recipe.id %>
            <%= form.submit "Create", :class => "form_button ingredient-form-button"%>
            <%= link_to "Done", {:controller => "recipes", :action=> "show", }, :id => @recipe.id,:class => "form_button ingredient-form-button" %>
          </div>
        <% end %>
      </article>
    </article>
  </section>
</main>