<div class='container-fluid recipe'>
  <div class="outer_border">
    <div class="category_list_container recipe_link">
    <h1>Ingredient new</h1>
      <div class='recipe'>
        <div id='heading'>
          <h1><%= @recipe.recipe_name %></h1>
          <h2><%= @recipe.category %></h2>
        </div>
        <div id='recipe_body'>
          prep time: <%= @recipe.prep_time %> <br>
          instructions: <%= @recipe.instructions %>
        </div>
      </div>


      <h1>Ingredients</h1>
      <ul class="list-without-bullet">
        <% @ingredients.each do |ing| %>
          <li><%= ing.ingredient %></li>
        <% end %>
      </ul>

      <%= form_for @ingredient, url: {action: "create_ingredients"}, local: true do |form| %>
      <% p @ingredient %>
        <p>
          <%= form.label :ingredient %><br>
          <%= form.text_field :ingredient %>
        </p>
        <%= form.hidden_field :recipe_id, :value => @recipe.id %>

        <%= form.submit :class => "form_button"%>
        <%= link_to "Done", {:controller => "recipes", :action=> "show", }, :id => @recipe.id %>
      <% end %>
    </div>
  </div>
</div>