<div class='recipe'>
  <div id='heading'>
    <h1><%= @recipe.recipe_name %></h1>
    <h2><%= @recipe.category %></h2>
  </div>
  <div id='recipe_body'>
    prep time: <%= @recipe.prep_time %> <br>
    instructions: <%= @recipe.instructions %>
  </div>
</div>
<% if current_user && current_user.id == @recipe.user_id %>
  <%= link_to "Edit", edit_recipe_path(@recipe) %>
  <%= link_to "Delete", @recipe, {method: :delete, data: { confirm: 'Are you sure?' }} %>
<% end %>
<div class='reviews'>
<h3> Reviews </h3>
  <% @reviews.each do |review| %>
    <%= review.user.username %><br>
    <%= review.body %>
  <% end %>
</div>
