<main>
  <%= render partial: "img_header" %>
  <section class="category_list_container show-grid-containter">
    <header>
      <h2 class="show-title"><%= @recipe.recipe_name %></h2>
    </header>
    <article class="show-img">
      <%= image_tag @recipe.avatar.url, :class => "recipe-show-image" %>
    </article>
    <article class="recipe-show-header-info">
      <h3><%= @recipe.category %></h3>
      <div>
        <span><%=link_to @recipe.user.username, controller: "users", action: "show", id: @recipe.user.id %></span></span></div>
      <div>
        <span><%= @recipe.calculate_prep_time %></span>
      </div>
        <% if @recipe.reviews.length > 0 %>
          <p><%= @recipe.average_rating %>/5 Stars</p>
        <%else%>
          <p>Not Yet Rated</p>
        <% end %>
    </article>
    <article class="show-instructions">
      <h3>Instructions:</h3>
      <p><%= @recipe.instructions %></p>
    </article>
    <article class="show-ingredients">
      <h3>Ingredients:</h3>
      <ul class="list-without-bullet show-ingridients-scroll">
        <% @recipe.ingredients.each do |ingredient| %>
          <li class=""><span>: <%= ingredient.ingredient %><span><br></li>
        <% end %>
      </ul>
    </article>
    <article class="show-buttons">
      <% if current_user && current_user.id == @recipe.user_id %>
      <%= link_to "Edit", edit_recipe_path(@recipe), :class => "show-form-button" %>
      <%= link_to "Delete", @recipe, {method: :delete, :class =>"show-form-button", data: { confirm: 'Are you sure?' }} %>
      <% end %>
    </article>
  </section>
  <section class="category_list_container recipe-show-gutter remove-top">
    <article>
      <header>
        <h3 class="review-h3"> Reviews </h3>
      </header>
      <article class="review-window">
        <% if @reviews.length > 0 %>
          <% @reviews.each do |review| %>
             <%= render partial: "review_item", locals: {review: review} %>
          <% end %>
        <% else %>
          <h4 class="no-posts-sign">Be The First to Review this Recipe!</h4>
        <% end %>
      </article>
    </article>
    <% if logged_in? %>
      <article class="write-review">
        <header class="enter-review-section">
          <h3 class="review-h3"> Write a Review </h3>
          <div id="review-error-display"></div>
        </header>
          <article class="show-review-grid">
            <%= form_for :review, remote: true, url: { :controller => "reviews", action: "create" } do |f| %>
              <div>
                <%= f.label :rating %>
                <%= f.select :rating, [ 1,2,3,4,5 ]%>
              </div>
              <div class="review-text-area">
                <%= f.label :body %><br>
                <%= f.text_area :body%>
              </div>
              <%= f.hidden_field :recipe_id, :value => @recipe.id%>
              <%= f.hidden_field :user_id, :value => @user_id%>
              <div class="review-submit-button">
                <%= f.submit :class => "form_button" %>
              </div>
          <% end %>
        </article>
      </article>
    <% end %>
  </section>
</main>
