<div class='container-fluid recipe'>
  <h1 class="recipe_spacing"><%= @recipe.recipe_name %></h1>
  <div class="outer_border">
    <div class="category_list_container recipe_link">
      <div id='heading'>
        <h2><%= @recipe.category %></h2>
      </div>
      <div>
        <% if @recipe.reviews.length > 0 %>
        <%= @recipe.average_rating %> / 5 Star Average
        <% end %>
      </div>
      <div id='recipe_body'>
        Prep Time: <%= @recipe.prep_time %> <br>
        Instructions: <%= @recipe.instructions %>
        <div>
        Ingredients:
        <ul class="list-without-bullet">
      <% @recipe.ingredients.each do |ingredient| %>
        <li class="">:<%= ingredient.ingredient %><br></li>
      <% end %>
      </ul>
        </div>
      </div>
      <% if current_user && current_user.id == @recipe.user_id %>
        <%= link_to "Edit", edit_recipe_path(@recipe), :class => "form_button" %>
        <%= link_to "Delete", @recipe, {method: :delete, class: :form_button, data: { confirm: 'Are you sure?' }} %>
      <% end %>
    </div>
  </div>
</div>
<div class='container-fluid reviews'>
  <div class="outer_border">
    <div class="category_list_container">
    <% if logged_in? %>
    <h3> Write a review </h3>
    <div class="list-without-bullet align-left review-list">
        <%= form_for :review, url: { :controller => "recipes", action: "reviews" } do |f| %>
          <%= f.label :rating %><br>
          <%= f.select :rating, [ 0,1,2,3,4,5 ]%>
          <%= f.label :body %><br>
          <%= f.text_area :body%>
          <%= f.hidden_field :recipe_id, :value => @recipe.id%>
          <%= f.hidden_field :user_id, :value => @user_id%>
          <%= f.submit :class => "form_button" %>
      <% end %>
    <% end %>
  </div>

    <h3> Reviews </h3>
      <ul class="list-without-bullet align-left review-list recipe_link">
      <% @reviews.each do |review| %>
        <li class="">Reviewer: <%= review.user.username %><br></li>
        <li>Rating: <%= review.rating %><br></li>
        <li>Body: <%= review.body %></li></br>
      <% end %>
      </ul>
    </div>
  </div>
</div>
