<div class='recipe'>
  <div id='heading'>
    <h1><%= @recipe.recipe_name %></h1>
    <h2><%= @recipe.category %></h2>
  </div>
  <div id='recipe_body'>
    prep time: <%= @recipe.prep_time %> <br>
    instructions: <%= @recipe.instructions %>
  </div>
</div>
<div class='reviews'>

<% if logged_in? %>
  <h3> Write a review </h3>
    <%= form_for :review, url: { action: "reviews" } do |f| %>
      <%= f.label :rating %><br>
      <%= f.select :rating, [ 0,1,2,3,4,5 ]%>
      <%= f.label :body %><br>
      <%= f.text_area :body%>
      <%= f.submit %>
  <% end %>
<% end %>

<h3> Reviews </h3>
  <% @reviews.each do |review| %>
    <%= review.user.username %><br>
    <%= review.body %>
  <% end %>
</div>