<div class="container-fluid">
  <h3>Register today to start using Pan, Skillet and Pot</h3>
  <%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
