<main>
  <%= render partial: "img_header" %>
  <section class="new-user-form-section">
    <header>
      <div class="login-header">
        <%= render partial: "error_handling", locals: { errors: @errors } %>
      </div>
      <h2 class="new-user-header">User Register</h2>
    <header>
    <article>
      <%= form_for(@user) do |f| %>
        <div class="field">
          <%= f.label :username %><br>
          <%= f.text_field :username %>
        </div>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.email_field :email %>
        </div>
        <div class="field">
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </div>

        <div class="new-user-form-button">
          <%= f.submit :class => "form_button" %>
        </div>
      <% end %>
    </article>
  </section>
</main>
