<!DOCTYPE html>
<html>
  <head>
    <title>PanSkilletPot</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Latest compiled and minified CSS Bootstrap 3-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <header>
    <nav class="navbar navbar-default no-border">
      <div class="container-fluid nav-color">
        <div class="navbar-header">
          <a class="navbar-brand nav-text" href="/recipes">Pan Skillet & Pot</a>
        </div>
        <% if session[:user_id] %>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Add Recipe", {:controller => "recipes", :action=> "new"}, :method => :get, :class => "nav-text" %>
            </li>
            <li>
              <%= link_to "My Recipes", user_path(session[:user_id]), :class => "nav-text" %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Logout", {:controller => "sessions", :action=> "destroy"}, :method => :delete, :class => "logout-button nav-text" %>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Sign in", {:controller => "sessions", :action=> "new"}, :method => :get, :class => "nav-text" %>
            </li>
            <li>
              <%= link_to "Register", {:controller => "users", :action=> "new"}, :method => :get, :class => "nav-text" %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
    <div class="header">
      <h1 class="header-img"></h1><div>
    </header>
    <body>
    <%= yield %>
  </body>
</html>
