<!DOCTYPE html>
<html>
  <head>
    <title>PanSkilletPot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <ul>
        <li>
          <%= link_to "Home", {:controller => "recipes", :action=> "index"}, :method => :get %>
        </li>
        <li>
          <%= link_to "New Recipes", {:controller => "recipes", :action=> "new"}, :method => :get %>
        </li>
        <li>
          <%= link_to "Category", {:controller => "recipes", :action=> "index"}, :method => :get %>
        </li>
        <% if session[:user_id] %>
          <li>
            <%= link_to "logout", {:controller => "sessions", :action=> "destroy"}, :method => :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in", {:controller => "sessions", :action=> "new"}, :method => :get %>
          </li>
          <li>
            <%= link_to "Register", {:controller => "users", :action=> "new"}, :method => :get %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
