<!DOCTYPE html>
<html>
  <head>
    <title>PanSkilletPot</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Latest compiled and minified CSS Bootstrap 3-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <nav>
        <header class="nav-header">
          <a href="/recipes">Pan Skillet & Pot</a>
            <% if session[:user_id] %>
          <ul>
            <li>
              <%= link_to "Add Recipe", {:controller => "recipes", :action=> "new"}, :method => :get %>
            </li>
            <li>
              <%= link_to "My Recipes", user_path(session[:user_id]) %>
            </li>
          </ul>
        </header>    
          <ul class="logged-in">
            <li>
              <%= link_to "Logout", {:controller => "sessions", :action=> "destroy"}, :method => :delete %>
            </li>
          </ul>
        <% else %>
          <ul class="logged-out">
            <li>
              <%= link_to "Sign in", {:controller => "sessions", :action=> "new"}, :method => :get %>
            </li>
            <li>
              <%= link_to "Register", {:controller => "users", :action=> "new"}, :method => :get %>
            </li>
          </ul>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
